html {
    font-size: 16px;
    font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
}

body {
    background-color: #efefef;
}
* {
    box-sizing: border-box;
}

.body-container{
    margin-left: 15%;
    padding: 1px 16px;
    height: 100%;
}

.card{
    width: 100%;
    background-color: rgb(245, 241, 241);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 20%;  
}

.card:hover{
    box-shadow: 0 4px 16px 0 rgb(67, 130, 247);
}
@media screen and (max-width: 1200px){
    .body-container{
        padding-left: 5%;
    }
}
@media screen and (max-width: 950px){
    .body-container{
        padding-left: 10%;
    }
}
@media screen and (max-width: 750px){
    .body-container{
        padding-left: 15%;
    }
}


/* Navigationbar */

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: rgb(56, 102, 202);
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: fixed;
    }
    .sidebar a {
        float: left;
    }
    div.body-conntainer {
        margin-top:0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
    div.body-conntainer {
        margin-left: 0;
    }
}

/* Navigationbar */