html {
  font-size: 16px;
  font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
}

body {
  background-color: #efefef;
}
* {
  box-sizing: border-box;
}
.row1{
  margin: 0;
}

.col{
  float: left;
  width: 100%;
  padding: 10px 20px;
}

.body-container{
  margin-left: 200px;
  padding: 1px 16px;
  height: 100%;
}
/* Navigationbar */

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: rgb(56, 102, 202);
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: fixed;
  }
  .sidebar a {
    float: left;
  }
  div.body-conntainer {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* Navigationbar */