*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the counter cards */
.row1{
  margin: 0 -5px;
}

.body-conntainer{
  margin-left: 200px;
  padding: 1px 16px;
  height: 100%;
}
.colm1{
  float: left;
  width: 33.2%;
  padding: 10px 20px;
}
.card{
  width: 100%;
  height: 100%;
  background-color: rgb(245, 241, 241);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;

}

.card1{
  width: 100%;
  background-color: rgb(245, 241, 241);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}

.card2{
  width: 100%;
  background-color: rgb(245, 241, 241);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}

.card3{
  width: 100%;
  background-color: rgb(245, 241, 241);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}

.card:hover{
  box-shadow: 0 4px 16px 0 rgba(5, 247, 8, 4);
}

.card1:hover{
  box-shadow: 0 4px 16px 0 rgba(245, 7, 8, 4);
}

.card2:hover{
  box-shadow: 0 4px 16px 0 rgba(12, 7, 218, 4);
}

.card3:hover{
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 4);
}
.time-date{
  text-align:right; 
  padding-bottom:5px; 
  padding-right:10px;
  color: red;
  background-color: white;
}
.heading{
  background-color: orange;
  padding: 5px;
}

/* Size the images in the card with fixed area of position */
.img-cont{
  width: 100%;
  height:200px;
}
/* Size the images in the card with fixed area of position */


.status{
  background-color: black;
  color:white; 
  text-align: center;
}

@media screen and (min-width: 1600px) {
  .colm1{
    width: 33.3%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1300px) {
  .colm1{
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  .colm1{
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
} 

/* Navigationbar */

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: rgb(56, 102, 202);
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: fixed;
  }
  .sidebar a {
    float: left;
  }
  div.body-conntainer {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* Navigationbar */